a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html {
    font-size: 20px
}

body {
    transition: all 1s
}

* {
    text-decoration: none
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    color: #2b2d42;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 90vh;
    display: flex;
    justify-content: center
}

.splash-screen.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    z-index: -10;
    color: #fff;
    text-align: center;
    line-height: 90vh;
    transition: all .7s
}

.fade-in {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards
}

@keyframes fadeIn {
    to {
        opacity: 1
    }

    from {
        opacity: 0
    }
}









.nav {
    position: fixed;
    width: 100%;
    font-family: Staatliches, cursive;
    padding: 5px 0;
    z-index: 995;
    letter-spacing: 2px;
    transition: all .3s ease
}


.extra {
    padding: 25px 0;
    background-color: #bdc667
}

.nav.landingpage {
    padding: 20px 0;
    background: #bdc667;
    border-radius: 10px
}

#navbutton {
    color: #111;
    transition: background-color .5s, border-radius 1s, .5s
}

.accordion {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    padding: 20px 0;
    color: #fff
}

.accordion i:hover {
    cursor: pointer
}




















.home {
    background-color: #2b2d42;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: Staatliches, cursive;
    transition: all .8s
}

.profile {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
}

.profile img {
    margin-top: 80px;
    width: 260px;
    height: 250px;
    border-radius: 50%;
    transition: all 500ms;
}

.profiledetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#greetings {
    font-size: 1.75rem;
    padding: 5rem 2rem 0 2rem;
    color: #d3d3d3;
    transition: all .5s
}

#name {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: shine 1s
}

#description {
    font-size: 40px;
    height: 2rem;
    margin-left: 15px;
    align-content: center
}

#description>span {
    font-size: 1.15rem;
    color: #bdc667;
    letter-spacing: 2px
}

.icons {
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    color: #fff
}

#icon-content {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 50px
}

#icon-content i {
    margin: 20px;
    font-size: 35px;
    transition: font-size 1s, color 1s;
    color: #fff
}

#hr {
    height: 2px;
    width: 100%;
    max-width: 360px;
    align-self: center
}

#about {
    padding: 10px 0;
    background-color: #eff1f3
}





















.about {
    background-color: #eff1f3;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.aboutheader {
    padding: 30px 0;
    font-size: 1.5rem;
    color: #2b2d42;
    text-transform: uppercase;
    font-family: Staatliches, cursive;
    letter-spacing: 4px;
    display: flex;
    width: 100%;
}

.aboutcontent {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutheader #hr {
    background-color: #2b2d42
}

.content-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 250px;
    border-radius: 20px;
    flex: 1 1
}

.content-left img {
    width: 300px;
    height: 250px;
    box-shadow: 0 1rem .5rem -.5rem #111;
    border-radius: 20px
}

.content-right {
    text-align: justify;
    letter-spacing: 2px;
    margin: 20px 25px;
    padding: 25px 0;
    line-height: 28px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: .9rem;
    flex: 1 1
}

.content-right #fullname {
    font-weight: 700;
    font-size: 20px
}

.content-right #red {
    color: red;
    font-size: 20px;
    font-weight: 700
}





























.skills {
    height: 1100px;
    background-color: #2b2d42;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center
}

.skillheader {
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    font-family: Staatliches, cursive;
    letter-spacing: 4px;
    display: flex
}

#comment {
    padding: 0 30px;
    margin: 0 30px;
    font-size: 18px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    line-height: 30px;
    font-family: 'Roboto Condensed', sans-serif
}

.skillheader #hr {
    background-color: #fff
}

.skillcontent {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly
}

.bars {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px
}

.bar {
    background-color: #dc143c;
    width: 100%;
    height: 5px
}

.info>div {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    font-size: 1.25rem;
    font-family: Staatliches, cursive;
    letter-spacing: 2px
}

.bar .html-progress {
    width: 55%;
    background-color: #f6aa1c;
    height: 5px
}

.bar .css-progress {
    width: 55%;
    background-color: #f6aa1c;
    height: 5px
}

.bar .javascript-progress {
    width: 35%;
    background-color: #f6aa1c;
    height: 5px
}

.bar .csharp-progress {
    width: 20%;
    background-color: #f6aa1c;
    height: 5px
}

.bar .java-progress {
    width: 25%;
    background-color: #f6aa1c;
    height: 5px
}


































.projectcontents {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.projects {
    background-color: #bdc667;
    height: 100%;
    font-family: 'Roboto Condensed', sans-serif
}

.project-side {
    background-color: #2b2d42;
    width: 90%;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 15px;
}

.project-center {
    background-color: #216869;
    border-top: 2px solid #2b2d42;
    padding: 5px;
    border-bottom: 2px solid #2b2d42;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 2px;
    align-items: center
}

.dompig {
    width: 100%;
    margin-right: 10px;
    box-shadow: 0 0 0.5rem .025rem #f6aa1c;
    cursor: pointer;
    transition: all 1s
}

.dompig:hover {
    transform: scale(1.05)
}

.nodechatapp {
    width: 100%;
    box-shadow: 0 0 0.5rem .025rem #f6aa1c;
    cursor: pointer;
    transition: all 1s
}

.nodechatapp:hover {
    transform: scale(1.05)
}

.nodechatapp-body {
    color: #fff;
    height: 100%;
    padding: 10px 0
}

.nodechatapp-title {
    border-top: 2px groove #bdc667;
    border-bottom: 2px groove #bdc667;
    padding: 5px;
    letter-spacing: 2px;
    font-weight: 500;
    text-align: center
}

.nodechatapp-description {
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 30px
}

.nodechatapp img {
    height: 100px
}

#codelang {
    color: #bdc667;
    transition: all 1s
}

#codelang:hover {
    background-color: #bdc667;
    color: #111
}

#piggame {
    background-size: cover;
    width: 100%;
    height: 250px
}

.dompiggame-body {
    height: 100%;
    color: #fff;
    padding: 10px 0
}

.dompiggame-title {
    border-top: 2px groove #bdc667;
    border-bottom: 2px groove #bdc667;
    padding: 5px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center
}

.dompiggame-description {
    padding: 10px;
    text-align: justify;
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 30px
}
































.contact {
    height: 90vh;
    background-color: #2b2d42
}

.contactheader {
    font-size: 2rem;
    color: #fff;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 30px 0
}

.contactheader #hr {
    background-color: #fff
}

footer {
    background-color: #2b2d42;
    color: #fff;
    height: 85vh;
    padding: 10px 0;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    text-align: center
}

footer .icons {
    padding: 20px
}

footer hr {
    width: 100%;
    height: 2px
}



















/* MEDIA QUERIES  */



@media (max-width: 420px) {

    .navbar {
        position: fixed;
        width: 100%;
        right: -120%;
        height: 100vh;
        z-index: 999;
        display: flex;
        flex-direction: column;
        color: #111;
        top: 0;
        justify-content: center;
        align-items: center;
        transition: all .3s ease
    }

    .homebutton a,
    .menu li {
        padding: 10px;
        margin-top: 35px
    }

    .menu {
        display: flex;
        flex-direction: column
    }

    .accordion i {
        z-index: 999;
    }

    .navbar.active {
        right: 0;
        background-color: #bdc667;
    }

    .accordion i.active:before {
        content: "\f00d";
        color: #111
    }

    .splash-screen {
        font-size: 1.5rem;
    }

    .home {
        height: 820px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .profile img {
        margin-top: 50px;
        width: 250px;
        height: 235px;
        border-radius: 50%;

    }

    #greetings {
        font-size: 1.25rem;
        padding: 3em 2em 0 2em;
        color: #d3d3d3;
        transition: all .5s
    }

    #name {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        animation: shine 1s
    }


    #description>span {
        font-size: 18px;
    }


    #icon-content {
        margin-top: 40px;
    }
    #icon-content i {
        font-size: 45px;
    }

    .about {
        height: 1500px;
    }

    .content-right {
        font-size: 20px;
    }

    .bars {
        width: 300px;
    }

    footer #copyright {
        font-size: 25px;
    }

}

















@media (max-width:544px) and (min-width: 421px) {

    .navbar {
        position: fixed;
        width: 100%;
        right: -120%;
        height: 100vh;
        z-index: 999;
        display: flex;
        flex-direction: column;
        color: #111;
        top: 0;
        justify-content: center;
        align-items: center;
        transition: all .3s ease
    }

    .homebutton a,
    .menu li {
        padding: 10px;
        margin-top: 35px
    }

    .menu {
        display: flex;
        flex-direction: column
    }

    .accordion i {
        z-index: 999;
    }

    .navbar.active {
        right: 0;
        background-color: #bdc667;
    }

    .accordion i.active:before {
        content: "\f00d";
        color: #111
    }

    .splash-screen {
        font-size: 1.5rem;
    }

    .home {
        height: 900px;
    }

    .profile img {
        margin-top: 100px;
        width: 250px;
        height: 235px;
        border-radius: 50%;

    }

    #greetings {
        font-size: 2rem;
        padding: 4em 2em 0 2em;
        color: #d3d3d3;
        transition: all .5s
    }

    #name {
        font-size: 2.5rem;
        display: flex;
        justify-content: center;
        animation: shine 1s
    }


    #description>span {
        font-size: 1rem;
    }


    #icon-content {
        margin-top: 50px;
    }
    #icon-content i {
        font-size: 55px;
    }

    .about {
        height: 1300px;
    }

    .content-right {
        font-size: 20px;
    }

    footer #copyright {
        font-size: 25px;
    }

}
































@media (min-width:545px) and (max-width:859px) {
    .navbar {
        position: fixed;
        width: 100%;
        right: -120%;
        height: 100vh;
        background-color: #fff;
        z-index: 995;
        display: flex;
        flex-direction: column;
        color: #111;
        top: 0;
        justify-content: center;
        align-items: center;
        transition: all .3s ease
    }

    .homebutton a,
    .menu li {
        padding: 10px;
        margin-top: 50px
    }

    .landingpage {
        padding: 20px 0;
        background: #bdc667;
        border-radius: 10px
    }

    .accordion i {
        z-index: 999
    }

    .navbar.active {
        right: 0;
        background-color: #bdc667;
    }

    .accordion i {
        font-size: 35px;
    }

    .accordion i.active:before {
        content: "\f00d";
        color: #111
    }

    .home {
        height: 925px;
    }
    .profile img {
        margin-top: 100px;
        width: 300px;
        height: 270px;
    }

    #greetings {
        font-size: 2.25rem;
        padding: 4em 2em 0 2em;
        color: #d3d3d3;
        transition: all .5s
    }

    #name {
        font-size: 3rem;
    }


    #description>span {
        font-size: 1.25rem;
    }

    
    #icon-content {
        margin-top: 50px;
    }

    #icon-content i {
        font-size: 60px;
    }

    .about {
        height: 1100px;
    }

    #comment {
        font-size: 22px;
        line-height: 35px;
    }

    .project-side {
        font-size: 1.5rem;
    }

    .bars {
        width: 500px;
    }
}



































@media (min-width:860px) and (max-width:1043px) {
    .navbar {
        position: fixed;
        width: 100%;
        right: -120%;
        height: 100vh;
        background-color: #fff;
        z-index: 995;
        display: flex;
        flex-direction: column;
        color: #111;
        top: 0;
        justify-content: center;
        align-items: center;
        transition: all .3s ease
    }

    .homebutton a,
    .menu li {
        padding: 10px;
        margin-top: 50px
    }

    .landingpage {
        padding: 20px 0;
        background: #bdc667;
        border-radius: 10px
    }

    .accordion i {
        z-index: 999;
        font-size: 45px;
    }

    .navbar.active {
        right: 0;
        background-color: #bdc667;
    }

    .accordion i.active:before {
        content: "\f00d";
        color: #111
    }

    .profile img {
        margin-top: 100px;
        width: 350px;
        height: 320px;
    }

    .home {
        height: 900px;
    }

    #greetings {
        font-size: 2.5rem;
        padding: 4em 2em 0 2em;
        color: #d3d3d3;
        transition: all .5s
    }

    #name {
        font-size: 4rem;
    }


    #description>span {
        font-size: 1.75rem;
    }

    
    #icon-content {
        margin-top: 50px;
    }

    #icon-content i {
        font-size: 70px;
    }

    .about {
        height: 1000px;
    }

    .aboutheader {
        display: flex;
        justify-content: center;
        font-size: 60px;
    }

    .content-right {
        font-size: 20px;
    }

    .project-side {
        font-size: 2rem;
        height: 475px;
    }

    .skillheader {
        font-size: 60px;
    }

    #comment {
        font-size: 25px;
        line-height: 40px;
    }

    .bars {
        width: 800px
    }
}





















@media (min-width:1044px){
    .nav {
        position: fixed;
        width: 100%;
        z-index: 995;
        font-family: Staatliches, cursive;
        transition: padding .3s ease, background-color .5s
    }

    .navbar {
        position: fixed;
        width: 100%;
        text-align: center
    }

    .nav:hover {
        padding: 20px 0;
    }

    .menu,
    .navbar {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 5.5rem;
        padding: 0 20px;
        flex: 2 2;
    }

    .accordion {
        padding: 0;
    }



    .menu #navbutton:hover {
        color: #111;
        box-shadow: 0 .8em .5em -.5em #111;
        border-radius: 10%;
        -webkit-text-stroke: .5px #000
    }

    .homebutton #navbutton:hover {
        color: #111;
        box-shadow: 0 .8em .5em -.5em #111;
        border-radius: 10%;
        -webkit-text-stroke: 1px #000
    }

    #navbutton {
        color: #fff
    }

    .extra {
        padding: 25px 0
    }


    .nav.aboutme {
        padding: 20px 0;
        background: #dc143c;
        border-radius: 10px;
    }

    .nav.whatdefinesme {
        padding: 20px 0;
        background: #bdc667;
        border-radius: 10px
    }

    .nav.projectinfo {
        padding: 20px 0;
        background: #dc143c;
        border-radius: 10px
    }

    .nav.contactinfo {
        padding: 20px 0;
        background: #bdc667;
        border-radius: 10px
    }

    .accordion {
        margin-right: -120%
    }


    .home {
        height: 850px;
    }

    .profile img {
        margin-top: 100px;
        width: 325px;
        height: 325px;
    }

    #greetings {
        font-size: 2.5rem;
        padding-top: 3.5em;
    }

    #name {
        font-size: 3rem
    }

    #description {
        height: 2.5rem
    }

    #description>span {
        font-size: 2.5rem
    }

    #navbutton {
        padding: 10px 0;
        margin-left: -20px
    }

    
    #icon-content {
        margin-top: 50px;
    }

    #icon-content i {
        font-size: 55px
    }

    #icon-content i:hover {
        font-size: 30px
    }

    .about {
        height: 900px;
        padding: 15px 0
    }

    .aboutheader {
        padding: 20px 0;
        font-size: 2rem;
        color: #2b2d42;
        justify-content: center;
        text-transform: uppercase;
        font-family: Staatliches, cursive;
        letter-spacing: 4px
    }

    .aboutcontent {
        margin-top: 5px;
        flex-direction: row;
    }

    .aboutheader #hr {
        background-color: #2b2d42
    }

    .content-left {
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
        border-radius: 20px;
        margin-left: 120px
    }

    .content-right {
        text-align: justify;
        letter-spacing: 2px;
        margin: 20px 40px;
        padding: 25px 50px;
        line-height: 25px;
        font-family: 'Roboto Condensed', sans-serif;
        font-size: 20px;
    }

    .skills {
        height: 1000px;
    }

    #skills {
        padding: 20px 0;
        background-color: #2b2d42
    }

    .skillheader {
        font-size: 50px;
        color: #fff;
        text-transform: uppercase;
        font-family: Staatliches, cursive;
        letter-spacing: 4px
    }

    #comment {
        padding: 0 30px;
        margin: 0 30px;
        font-size: 20px;
        text-align: center;
        color: #fff;
        letter-spacing: 2px;
        line-height: 40px;
        font-family: 'Roboto Condensed', sans-serif
    }

    .bars {
        height: 15rem;
        flex-direction: column;
        justify-content: space-evenly;
        width: 950px
    }

    #projects {
        padding: 23px 0;
        background-color: #2b2d42
    }

    .projectcontents {
        flex-direction: row
    }

    #contact {
        padding: 30px 0;
        background-color: #2b2d42
    }

    .contactsubheader {
        color: #fff;
        text-align: center;
        margin-top: -20px
    }
}















@media (min-width: 1010px) and (max-width: 1310px) and (max-height: 450px) and (min-height: 310px) {
    .home {
        height: 900px;
    }

    .about {
        height: 900px;
    }
}













